/*
 * colors: 
 * > gray dark: #424242
 * > green: #6FC682
 */


html,
body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
}

.img-circle {
    border-radius: 50%;
}

.headshot {
    width: 115px;
    height: 115px;
}

.brand {
    font-size: 2em;
    margin-bottom: 0;
}

.aka {
    font-size: 1rem;
}

.lead {
    font-size: 1rem;
}

.text-center {
    text-align: center;
}

.meta {
    font-size: 0.8rem;
    font-weight: 300;
}

pre {
    padding: 1px;

    tab-size: 2;
}

.hljs {
    white-space: pre;

    overflow-x: auto; /* no line wrapping */
}

pre code,
li code,
td code,
code {
    border-radius: 4px;
    white-space: pre-wrap;
    padding: 1px 4px;
    background: #eee;
    /* color: #444; */
    border: 1px solid #d9d9d9;
}

code {
    font-family: 'Roboto Mono', monospace;
    font-size: 90%;
}
.copyright,
.poweredby {
    font-size: 13px;
    font-weight: 300;
}

.center {
    display: block;

    margin-right: auto;
    margin-left: auto;
}
/* Changing from font-awesome 4 to 5, the class pull-right was removed */
.pull-right {
    float: right;
}



.navlink__home {
    display: inline-block;
    margin-bottom: .4em;
}


.sidebar-nav {
    display: none;
}


.link--tag {
    color: #313131;
    margin-left: .9em;
    position: relative;
}
/* 
 * https://fontawesome.com/icons/hashtag?style=solid
 * fill: #313131 
 */
.link--tag:before,
.link--tag:hover:before,
.link--tag:active:before {
    content: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214%22%20height%3D%2214%22%3E%3Cpath%20fill%3D%22%23313131%22%20d%3D%22M13.640194%204.741064l.218362-1.233354c.040139-.226783-.132736-.435035-.361125-.435035h-2.286952l.447027-2.525014c.040139-.226783-.132736-.435035-.361125-.435035h-1.242126a.366842.370006%200%200%200-.361125.304978l-.470077%202.655071H6.207768L6.654795.547661C6.694964.320878%206.52209.112626%206.29367.112626H5.051544a.366842.370006%200%200%200-.361125.304978l-.470077%202.655071H1.802366a.366842.370006%200%200%200-.361125.304978l-.218362%201.233354c-.040139.226783.132736.435035.361125.435035h2.286952l-.698742%203.946732H.754238a.366842.370006%200%200%200-.361125.304978l-.218362%201.233354c-.040139.226783.132736.435035.361125.435035h2.286952l-.447027%202.525014c-.040139.226783.132736.435035.361125.435035h1.242126a.366842.370006%200%200%200%20.361125-.304978l.470108-2.655071H7.82554l-.447027%202.525014c-.040169.226783.132705.435035.361125.435035h1.242126a.366842.370006%200%200%200%20.361125-.304978l.470077-2.655071h2.417976a.366842.370006%200%200%200%20.361125-.304978l.218362-1.233354c.040139-.226783-.132736-.435035-.361125-.435035h-2.286952l.698742-3.946732h2.417976a.366842.370006%200%200%200%20.361125-.304978zm-5.465268%204.25171H5.159671l.698742-3.946732h3.015255l-.698742%203.946732z%22%2F%3E%3C%2Fsvg%3E);
    position: absolute;
    left: -.9em;
}

/* 
 * https://fontawesome.com/icons/external-link-alt?style=solid 
 * fill: #268bd2 
 */
.link--external:after {
    content: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2215.75%22%20height%3D%2214%22%20aria-hidden%3D%22true%22%20class%3D%22svg-inline--fa%20fa-external-link-alt%20fa-w-18%22%20data-icon%3D%22external-link-alt%22%20data-prefix%3D%22fas%22%20font-size%3D%2248%22%3E%3Cpath%20fill%3D%22%23268bd2%22%20d%3D%22M15.75.65625v3.49956c0%20.58683-.709844.87446-1.120301.46405l-.976363-.97641-6.6588321%206.65883c-.256293.25629-.6717812.25629-.9280742%200l-.618707-.61871c-.256293-.25629-.256293-.67181%200-.92807l6.6588863-6.65889-.976254-.97631C10.718258.7082%2011.010125%200%2011.594406%200h3.499344c.362441%200%20.65625.29381.65625.65625zm-4.620301%206.74827l-.4375.4375A.65622266.65622266%200%200%200%2010.5%208.30607V12.25H1.75V3.5h7.21875a.65633203.65633203%200%200%200%20.4640234-.1922l.4375-.4375C10.283684%202.45686%209.9908867%201.75%209.40625%201.75H1.3125C.58761719%201.75%200%202.33762%200%203.0625v9.625C0%2013.41238.58761719%2014%201.3125%2014h9.625c.724883%200%201.3125-.58762%201.3125-1.3125V7.86855c0-.58467-.706891-.87746-1.120301-.46403z%22%2F%3E%3C%2Fsvg%3E);
    margin: 0 3px 0 5px;
}

/* 
 * https://fontawesome.com/icons/download?style=solid
 * fill: #268bd2 
 */
.link--download:after {
    content: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214%22%20height%3D%2214%22%20aria-hidden%3D%22true%22%20class%3D%22svg-inline--fa%20fa-download%20fa-w-16%22%20data-icon%3D%22download%22%20data-prefix%3D%22fas%22%20font-size%3D%2248%22%3E%3Cpath%20fill%3D%22%23268bd2%22%20d%3D%22M5.90625%200h2.1875C8.4574219%200%208.75.29258%208.75.65625V5.25h2.398047c.486719%200%20.730078.58789.385547.93242l-4.1589846%204.16172c-.2050782.20508-.5414063.20508-.7464844%200L2.4636719%206.18242C2.1191406%205.83789%202.3625%205.25%202.8492187%205.25H5.25V.65625C5.25.29258%205.5425781%200%205.90625%200zM14%2010.28125v3.0625c0%20.36367-.292578.65625-.65625.65625H.65625C.29257812%2014%200%2013.70742%200%2013.34375v-3.0625C0%209.91758.29257812%209.625.65625%209.625h4.0113281l1.3398438%201.33984c.5496093.54961%201.4355468.54961%201.9851562%200L9.3324219%209.625H13.34375c.363672%200%20.65625.29258.65625.65625zm-3.390625%202.40625c0-.30078-.246094-.54688-.546875-.54688-.3007812%200-.546875.2461-.546875.54688%200%20.30078.2460938.54687.546875.54687.300781%200%20.546875-.24609.546875-.54687zm1.75%200c0-.30078-.246094-.54688-.546875-.54688-.300781%200-.546875.2461-.546875.54688%200%20.30078.246094.54687.546875.54687.300781%200%20.546875-.24609.546875-.54687z%22%2F%3E%3C%2Fsvg%3E);
    margin: 0 3px 0 5px;
}


/*
 * hyde-hyde sidenav breakpoint: 767px
 * container width: 684px
 */
@media all and (min-width:768px) {
    .sidebar-nav {
        display: block;
    }
    .link--tag {
        margin-left: initial;
    }
    .link--tag:before {
        content: none;
    }
}