{{ define "header" -}} {{ partial "header.html" . }} {{- end }} {{ define "content" -}}
<h3 id="about">
    <a class="link--tag" href="#about">About me</a>
</h3>
<p>Web developer passionate about React and Symfony. I craft snappy progressive web applications that delight its (your) users.</p>
<h3 id="experiences">
    <a class="link--tag" href="#experiences">Experiences</a>
</h3>
<p>
    <h4>May 2018 → Current |
        <a href="http://prodigious.com/" target="_blank">Prodigious Latin America</a> |
        <em>Senior Front-End Developer</em>
    </h4>
    <small>Front-end development for multinational clients.</small>
</p>
<p>
    <h4>April 2018 → Current |
        <a href="https://www.afp.com/" target="_blank">Primera - Languages for business</a> |
        <em>Free-lance</em>
    </h4>
    <small>Full stack web management platform solution for online language teaching business dedicated to company's administrative
        staff as well as students and instructors.</small>
</p>
<p>
    <h4>2016 → 2018 |
        <a href="https://www.aviatur.com/" target="_blank">Aviatur</a> |
        <em>Junior Programmer</em>
    </h4>
    <small>Web developer, UI / UX designer for aviatur.com, online travel agency website, and other administered sites.</small>
</p>
<p>
    <h4>2015 |
        <a href="https://www.afp.com/" target="_blank">AFP</a> |
        <em>Intern</em>
    </h4>
    <small> Web development, participation in the AFP 4W project.</small>
</p>
<p>
    <h4>2014 |
        <a href="http://www.mnhn.fr/en" target="_blank">National Museum of Natural History</a> |
        <em>Scientific mediator</em>
    </h4>
    <small>Scientific mediation and web development for the Vigie Nature blog and Dens'Cité project.</small>
</p>
<h3 id="education">
    <a class="link--tag" href="#education">Education</a>
</h3>
<p>
    <h4>2014 → 2016 | CNED</h4>
    <small>Studies for Superior Technical Certificate in Computer Services to Organizations, sp. SLAM</small>
</p>
<p>
    <h4>2011 → 2013 | Université Pierre et Marie Curie (Paris VI)</h4>
    <small>Studies for Life Sciences undergraduate</small>
</p>
<p>
    <a class="link--external" href="https://www.linkedin.com/in/arthurpicerna/" target="_blank">Full resume</a>
</p>
<h3 id="contact">
    <a class="link--tag" href="#contact">Contact</a>
</h3>
<p>Reachable via email at: {{ with .Site.Params.social.email }}
    <a href="mailto:{{.}}">
        arthurpicerna@gmail.com
    </a>
    {{ end }}
    <br/> Let's talk!
</p>
{{- end }} {{ define "footer" -}}{{- end }}