{{ define "header" -}}
    {{ partial "header.html" . }}
{{- end }}

{{ define "content" -}}
    <h3 id="about">
        <a class="link--tag" href="#about">About me</a>
    </h3>
    <p>Web developer passionate about React and Symfony. I craft snappy progressive web applications that delight its (your) users.</p>
    <h3 id="cv">
        <a class="link--tag" href="#cv">Curriculum Vitae</a>
    </h3>
    <h3 id="working-on">
        <a class="link--tag" href="#working-on">Working on</a>
    </h3>
    <h3 id="worked-on">
        <a class="link--tag" href="#worked-on">Worked on</a>
    </h3>
    <h3 id="contact">
        <a class="link--tag" href="#contact">Contact</a>
    </h3>
    <p>Reachable via email at:
        {{ with .Site.Params.social.email }}
            <a href="mailto:{{.}}">
                arthurpicerna@gmail.com
            </a>
        {{ end }}<br/>
        Let's talk!
    </p>
{{- end }}

{{ define "footer" -}}{{- end }}